$verdeLacoste: #00532c;
$negroLacoste: #2C3330;

.tittleContainer {
    margin: 3em 7em;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .categoryTittle {
        font-size: 50px;
        font-weight: 500;
        color: $negroLacoste;
    }  

    .volverCatalogoBtn {
        color: $verdeLacoste;
        font-size: 18px;
        border: 2px solid $verdeLacoste;
        border-radius: 7px;
        padding: 10px 20px;
        transition: .2s;
        &:hover {
            color: white;
            background-color: $verdeLacoste;
        }
    }
}
