$verdeLacoste: #00532c;

.itemCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px 15px 5px ;
    border: 1px solid ghostwhite;
    border-radius: 5px;
    width: 26em;
    height: 40em;
    transition: box-shadow .3s;
    &:hover {
        box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.20);
    }
    @media (max-width: 768px) {
        margin: 0;
    }

    .discountContainer {
        display: flex;
        justify-content: flex-start;

        .productVariants {
            margin-right: 7px;
            padding: 4px 6px;
            font-size: 11px;
            color: white;
            background-color: $verdeLacoste;
            border-radius: 4px;
        }   
    }

    .productName {
        color: #2C3330;
        font-weight: 400;
        font-size: 16px;
        margin: 12px 0 15px 0;
    }
    .productPrice {
        color: $verdeLacoste;
        font-size: 15px;
        font-weight: 700;
    }
    .productLastPrice {
        color: gray;
        font-size: 14px;
        font-weight: 700;
        text-decoration: line-through;
    }
    .stockActual {
        color: #2C3330;
        font-size: 13px;
        margin-top: 10px;
    }
    .btn_irItemDetail{
        margin-top: 20px;

        .ui.button {
            color: white;
            background: $verdeLacoste;
            width: 9em;
        }
    }
}