$verdeLacoste: #00532c;
$negroLacoste: #2C3330;
.compras_container {
    display: flex;

    .cantItems_container{
        position: absolute;
        background-color: $verdeLacoste;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 1px;
        border-radius: 100%;
        right: 147px;
        top: 10px;

        .cantItems {
            font-size: 8px;
            font-weight: 800;
            text-align: center;
            color: white;
        }
    }
}