$verdeLacoste: #00532c;

nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.5em;
    padding: 10px 35px;
    transition: .3s;
    &:hover {
        box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.26);
    }
    

    .categorias {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            margin: 12px 35px 0;

            .categoria {
                font-weight: 300;
                font-size: 15px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: gray;
                padding-bottom: 5px;
                border-bottom: 2px solid transparent;
                transition: .3s;
                &:hover {
                    border-bottom: 2px solid $verdeLacoste;
                    border-radius: 1px;
                }
            }

            .searchIcon {
                color: gray;
                cursor: pointer;
                transition: .3s;
                &:hover {
                    transform: scale(1.1);
                    color: $verdeLacoste;
                }
            }
        }
    }

    .cartLogin {
        display: flex;

        a {
            margin: 0 15px;
            color: gray;
            transition: .3s;
            &:hover {
                color: $verdeLacoste;
            }
        }
    }
}