$verdeLacoste: #00532C;

.buttonsCountContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;

    .stockBtn {
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 700;
        background: white;
        color: $verdeLacoste;
        border: 1px solid $verdeLacoste;
        border-radius: 4px;
        cursor: pointer;
        transition: .2s;
        &:hover {
            color: white;
            background: $verdeLacoste;
        }
    }

    p {
        color: gray;
        font-weight: 700;
    }

}

.onAddBtn {
    background: white;
    border: 1px solid $verdeLacoste;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    font-size: 17px;
    color: gray;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
    &:hover {
        color: white;
        background: $verdeLacoste;
    }
    &:hover img {
        filter: brightness(7);
    }
}