@keyframes iconMove {
    0% { transform: translateY(0); }
    50% {transform: translateY(-0.5em);  }
    100% { transform: translateY(0); }
}

$verdeLacoste: #00532c;

.home_container {
    position: relative;
    height: 100vh;
    .video {
        height: 100vh;
    }

    .title_container {
        display: flex;
        flex-direction: column;
        background: transparent;
        position: absolute;
        top: 24em;
        left: 6em;

        .home_title {
            font-size: 55px;
            font-weight: 400;
            color: white;
            z-index: 5;
            display: inline-block;
            position: relative;
            margin: 0;
        }

        .home_subtitle {
            display: inline-block;
            color: white;
            font-weight: 600;
            font-size: 18px;
            margin-left: 5px;
        }
    } 
    
    a.catalogo_btn {
        font-size: 17px;
        position: relative;
        bottom: 8em;
        left: 5em;
        border: 1px solid white;
        border-radius: 15px;
        padding: 10px 15px;
        color: white;
        transition: .3s;
        &:hover {
            color: white;
            background: $verdeLacoste;
            border: $verdeLacoste;
        }
    }

    .icon_container {
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
        bottom: 1em;
        .down_icon {
            font-size: 35px;
            color: #ffffffd1;
            animation-name: iconMove;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            cursor: pointer;
        }
    }

}

.footer {
    background-color: #f4f4f4;
    width: 100%;
    padding: 60px 40px 20px 40px;
    .footer_container {
        display: flex;

        justify-content: space-around;

        h2 {
            font-size: 17px;
            font-weight: 400;
        }

        h3 {
            font-size: 11px;
            font-weight: 700;
        }

        p {
            font-size: 11px;
            margin: 10px 0;
        }

        ul {
            li {
                margin: 12px 0;
                color: gray;
            }
        }

        .icon {
            color: $verdeLacoste;
            font-size: 16px;
            margin-top: 30px;
        }

        .button {
            color: $verdeLacoste;
        }

        input{
            &:focus {
                border-color: $verdeLacoste;
            }
        }
        
    }

    h3 {
        font-size: 15px;
    }
    .icon{
        font-size: 22px;
        color: gray;
        margin: 0 7px;
    }
}